<!DOCTYPE html>
<html>
<head>
  <title>Sign Up Form</title>
</head>
<body>

<h1>Sign Up</h1>

<form action="/signup" method="post">
  <label for="User_ID">User ID:</label><br>
  <input type="text" id="User_ID" name="User_ID"><br>
  
  <label for="Display_Name">Display Name:</label><br>
  <input type="text" id="Display_Name" name="Display_Name"><br>
  
  <label for="Age">Age:</label><br>
  <input type="text" id="Age" name="Age"><br>
  
  <label for="Gender">Gender:</label><br>
  <input type="text" id="Gender" name="Gender"><br>
  <label for="Occupation">Occupation:</label><br>
  <input type="text" id="Occupation" name="Occupation"><br>
  
  <label for="Usually_Bus_Use">Usually Bus Use:</label><br>
  <input type="text" id="Usually_Bus_Use" name="Usually_Bus_Use"><br><br>
  
  <input type="submit" value="Submit">
</form>

</body>
</html>