<!DOCTYPE html>
<html>
<head>
    <title>LINE Messenger Profile</title>
</head>
<body>
    <h1>LINE Messenger Profile</h1>
    <div>
        <p><strong>Name:</strong> <%= name %></p>
        <p><strong>User ID:</strong> <%= id %></p>
        <img src="<%= picture %>" alt="User Picture">
    </div>
</body>
</html>
